{% extends "plate.html" %}
{% block body %}
{% load static %}
        <div id="smooth-wrapper">
<div id="smooth-content">
<!-- ==== banner ssection start ==== -->
<!-- header start  -->
<div class="xc-header-banner__section text-center pt-60 pb-100">
<div class="xc-header-banner__bg">
<img alt="" src="{% static 'assets/img/shapes/hero-bg-1.png' %}"/>
</div>
<div class="xc-header-banner__shape">
<div class="shape-1">
<img alt="" src="{% static 'assets/img/shapes/baner-1-1.png' %}"/>
</div>
<div class="shape-2">
<img alt="" src="{% static 'assets/img/shapes/baner-1-2.png' %}"/>
</div>
<div class="shape-3">
<img alt="" src="{% static 'assets/img/shapes/baner-1-3.png' %}"/>
</div>
</div>
<div class="container">
<div class="row">
<div class="xc-header-banner__title-wrapper wow xcfadeUp">
<span class="xc-header-banner__tag">Eitechain LLC Believes on Skills !</span>
<h2 class="xc-header-banner__title dynamic-title cd-headline clip is-full-width">Mmm,We're Looking for <br/>
<span class="cd-words-wrapper">
<b class="is-visible"><span class="gold-title">Passionated Skilleds.</span></b>
{% for job in jobs %}
<b><span class="gold-title">{{job.name}}</span></b>
{% endfor %}
</span>
</h2>
<p class="xc-header-banner__info wow xcfadeUp">Elitechain LLC offers competitive salaries, occasional free accommodations, flexible working hours, and more.</p>
</div>
<p class="xc-note wow xcfadeUp"><i class="fa-duotone fa-circle-info"></i> Scroll Down to See Available Jobs</p>
</div>
</div>
</div>
<!-- header end  -->
<!-- service one start  -->
<section class="xc-service-one__section">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-120 wow xcfadeUp">
<span class="xc-section__subtitle">Available Positions</span>
<h3 class="xc-section__title wow">
<span>Become a part of Elitechain LLC!</span>
</h3>
</div>
<div class="xc-service-one__wrapper">
<div class="row">
<div class="col-lg-4 col-md-6 wow xcfadeUp" data-wow-delay=".6s">
    {% for job in jobs %}
<div class="xc-service-one__box xc-featured">
<div class="xc-shape-1"><img alt="" src="{% static 'assets/img/shapes/sv-8-blur.png' %}"/></div>
<div class="xc-shape-2 wow xcfadeUp"><img alt="" src="{% static 'assets/img/shapes/sv-8-1.png' %}"/>
</div>
<div class="xc-shape-3 wow xcfadeUp"><img alt="" src="{% static 'assets/img/shapes/sv-8-1.png' %}"/>
</div>
<div class="xc-service-one__icon">
<span><img alt="" src="{% static 'assets/img/icons/sv-icon-8.png' %}"/></span>
</div>
<h3 class="xc-service-one__title"><a href="usecase-details.html">{{job.name}}</a>
</h3>
<p>{{job.short_detail}}</p>
<a class="xc-service-one__btn xc-btn" href="apply/{{job.slug}}">Apply Now</a>
</div>
</div>
   {% endfor %}
</div>
</div>
</div>
</section>
<!-- service one end  -->
<!--about one start  -->
<section class="xc-about-one__section pt-30 pb-90">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="xc-about-one__img mb-30 wow xcfadeLeft">
<img alt="Elitechain LLC gif" data-tilt="" src="{% static 'assets/Elitechain-gif.gif' %}"/>
</div>
</div>
<div class="col-lg-6">
<div class="xc-about-one__right wow xcfadeRight">
<div class="xc-section__title-wrapper">
<h3 class="xc-section__title wow">Fast, simple, instant,Idea to Action with
                                            Elitechain LLC.</h3>
<p class="mb-20">Unleash your innovation at lightning speed,Elitechain LLC
                                            empowers you to turn ideas into reality fast, simple, and
                                            instant. Stop dreaming, start executing. Let Elitechain be your partner in
                                            success.
                                        </p>
</div>
<div class="xc-about-one__feature">
<ul class="xc-about-one__feature-list list-unstyled">
<li>
<p><span class="xc-icon"><i class="fa-solid fa-check"></i></span>More
                                                    than <a href="#"> 6,660 Satisfied Customers </a> over the Globe.</p>
</li>
<li>
<p><span class="xc-icon"><i class="fa-solid fa-check"></i></span>Developed more than <a href="#"> 2000+ Artificial Intelligence and SaaS successful
                                                        projects.</a>
</p>
</li>
<li>
<p><span class="xc-icon"><i class="fa-solid fa-check"></i></span>No
                                                    matter your native tongue, <a href="#">Elitechain LLC deals in your
                                                        language</a></p>
</li>
</ul>
</div>
<div class="xc-about-one__btn mt-40">
<a class="xc-btn" href="/about/">Let's Build My Dream</a>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- about one end  -->
<!-- faq one start  -->
<section class="xc-faq-one__section pb-70">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="xc-section__title-wrapper mb-40 wow xcfadeUp">
<h3 class="xc-section__title wow">How Elitechain LLC started ?</h3>
</div>
<div class="xc-accrodion-grp" data-grp-name="faq-one-xc-accrodion">
<div class="xc-accrodion active wow xcfadeUp" data-wow-delay="100ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-lightbulb"></i></span>
<h4>Born from a Shared Vision</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>Elitechain began with a spark - the meeting of two minds passionate
                                                    about technology's power to transform lives. Their
                                                    vision? To empower individuals with AI-driven solutions and unlock
                                                    income opportunities through innovative SaaS
                                                    products.</p>
</div>
</div>
</div>
<div class="xc-accrodion wow xcfadeUp" data-wow-delay="100ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-file-lines"></i></span>
<h4>Crafting Excellent Experiences</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>At Elitechain, customer satisfaction is paramount. We envision a
                                                    world where everyone has access to exceptional AI
                                                    experiences. Our goal is to meticulously craft products that
                                                    seamlessly integrate into your life, fulfilling your
                                                    specific needs with swiftness and precision.</p>
</div>
<!-- /.inner -->
</div>
</div>
<div class="xc-accrodion wow xcfadeUp" data-wow-delay="100ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-pen-to-square"></i></span>
<h4>The Magic of Elitechain AI</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>Think of Elitechain's AI as your own personal superhero. It's the
                                                    star of our service lineup, designed to automate the
                                                    tasks that drain your time and resources. Imagine a world where
                                                    everything runs smoothly, efficiently, and at a
                                                    cost that won't break the bank.</p>
</div>
<!-- /.inner -->
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="xc-faq-one__img mb-30 wow xcfadeLeft text-lg-end w-img" data-wow-delay="300ms">
<img alt="" data-tilt="" src="{% static 'assets/elitechain-Creativity.gif' %}"/>
</div>
</div>
</div>
</div>
</section>
<!-- faq one end  -->
<!-- brand one start  -->
<div class="xc-brand-one__section mb-100">
<div class="container">
<div class="xc-brand-one__title-wrapper text-center mb-60">
<h3 class="xc-brand-one__count xc-count-box">
<span class="xc-count-text" data-speed="3000" data-stop="6600"></span>+
                            </h3>
<h4 class="xc-brand-one__title wow xcfadeUp">Entrepreneurs &amp; Companies choose Elitechain LLC
                            </h4>
</div>
<div class="xc-brand-one__wrapper">
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-5 justify-content-center">
<div class="col">
<div class="xc-brand-one__item">
<img alt="" src="{% static 'assets/img/brand/brand-1-1.png' %}"/>
</div>
</div>
<div class="col">
<div class="xc-brand-one__item">
<img alt="" src="{% static 'assets/img/brand/brand-1-2.png' %}"/>
</div>
</div>
<div class="col">
<div class="xc-brand-one__item">
<img alt="" src="{% static 'assets/img/brand/brand-1-3.png' %}"/>
</div>
</div>
<div class="col">
<div class="xc-brand-one__item">
<img alt="" src="{% static 'assets/img/brand/brand-1-4.png' %}"/>
</div>
</div>
<div class="col">
<div class="xc-brand-one__item">
<img alt="" src="{% static 'assets/img/brand/brand-1-5.png' %}"/>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- brand one end  -->
<!-- testimonial one start  -->
<section class="xc-testimonial-one__section theme-bg-5 pt-110 pb-90">
<div class="container">
<div class="xc-section__title-wrapper wow fadeInUp text-center mb-60">
<span class="xc-section__subtitle">TESTIMONIAL</span>
<h3 class="xc-section__title wow">See why people like you <br/> choose Elitechain LLC</h3>
</div>
<div class="row">
<div class="col-md-6">
<div class="xc-testimonial-one__item bg-white mb-30 wow fadeInUp">
<div class="xc-testimonial-one__avata">
<div class="xc-testimonial-one__img">
<img alt="" src="{% static 'assets/img/testimonial/tes-1-1.jpg' %}"/>
</div>
<div class="xc-testimonial-one__name">
<h3>Crystal Ramirez</h3>
<span class="xc-testimonial-one__bio">Vice President, Tobi</span>
</div>
</div>
<div class="xc-testimonial-one__content">
<div class="xc-testimonial-one__ratting">
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
</div>
<h3 class="xc-testimonial-one__title">They're Hidden Gem, Forsure !</h3>
<p class="xc-testimonial-one__review">I was amazed by their algorithm! Asked
                                            them to build my
                                            courier website, and boom, 14 days later, it's done! Perfect
                                            job. Definitely coming back. Props to Elitechain's speedy text agents too!
                                        </p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="xc-testimonial-one__item bg-white mb-30 wow fadeInUp">
<div class="xc-testimonial-one__avata">
<div class="xc-testimonial-one__img">
<img alt="" src="{% static 'assets/img/testimonial/tes-1-2.jpg' %}"/>
</div>
<div class="xc-testimonial-one__name">
<h3>Kristin Minasian</h3>
<span class="xc-testimonial-one__bio">Digital Content Producer</span>
</div>
</div>
<div class="xc-testimonial-one__content">
<div class="xc-testimonial-one__ratting">
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
</div>
<h3 class="xc-testimonial-one__title">Free Chatbot Integration</h3>
<p class="xc-testimonial-one__review">I asked for a chatbot, got it quick, had a
                                            couple of
                                            progress check-ins. Big shoutout to Christopher from Elitechain for
                                            integration it in my
                                            website
                                            for free!</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="xc-testimonial-one__item bg-white mb-30 wow fadeInUp">
<div class="xc-testimonial-one__avata">
<div class="xc-testimonial-one__img">
<img alt="" src="{% static 'assets/img/testimonial/tes-1-3.jpg' %}"/>
</div>
<div class="xc-testimonial-one__name">
<h3>Kristin Minasian</h3>
<span class="xc-testimonial-one__bio">Shaliena Lee</span>
</div>
</div>
<div class="xc-testimonial-one__content">
<div class="xc-testimonial-one__ratting">
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
</div>
<h3 class="xc-testimonial-one__title">Make you laugh,lol</h3>
<p class="xc-testimonial-one__review">"Their marketing algorithms are
                                            mind-blowing! 23,000 sales
                                            in just the second month of campaign,always available for meetings, even at
                                            midnight and on
                                            weekends! And they've got a
                                            sense of humor that'll keep you laughing!</p>
</div>
</div>
</div>
<div class="col-md-6">
<div class="xc-testimonial-one__item bg-white mb-30 wow fadeInUp">
<div class="xc-testimonial-one__avata">
<div class="xc-testimonial-one__img">
<img alt="" src="{% static 'assets/img/testimonial/tes-1-4.jpg' %}"/>
</div>
<div class="xc-testimonial-one__name">
<h3>Samrat Islam</h3>
<span class="xc-testimonial-one__bio">Shaliena Lee</span>
</div>
</div>
<div class="xc-testimonial-one__content">
<div class="xc-testimonial-one__ratting">
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
<span><i class="fa-solid fa-star"></i></span>
</div>
<h3 class="xc-testimonial-one__title">High quality writing!</h3>
<p class="xc-testimonial-one__review">Our 6th contract together and every time,
                                            Elitechain's AI
                                            and ML expertise dazzles! Their model training is lightning-fast and
                                            top-notch. When it comes to AI, these guys are the ones to call, no doubt
                                        </p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- testimonial one end  -->
<!-- price area start -->
<section class="xc-price-one__section style-2 p-relative z-index-1 pt-120 pb-90 overflow-hidden">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-55 wow xcfadeUp">
<span class="xc-section__subtitle">Niches</span>
<h3 class="xc-section__title wow">Niche expertise? We've nailed it<br/>consistently
                                delighting all
                                industries.
                            </h3>
</div>
<div class="xc-price-one__tab-nav">
<nav class="xc-price-one__tab-wrapper xc-nav">
<div class="nav nav-tabs xc-price-tab-slide justify-content-center" id="nav-tab" role="tablist">
<label class="nav justify-content-center" for="price-tab-check">
<span aria-controls="nav-monthly" aria-selected="true" class="nav-link" data-bs-target="#nav-monthly" data-bs-toggle="tab" id="nav-monthly-tab" role="tab">Sides</span>
<input id="price-tab-check" type="checkbox"/>
<i></i>
<span aria-controls="nav-yearly" aria-selected="false" class="nav-link active" data-bs-target="#nav-yearly" data-bs-toggle="tab" id="nav-yearly-tab" role="tab">Mains</span>
</label>
</div>
<div class="xc-price-one__tab-offer">
<img alt="" src="{% static 'assets/img/shapes/price-arrow-1.png' %}"/>
<span>10% Off</span>
</div>
</nav>
</div>
<div class="row">
<div class="col-xxl-12">
<div class="tab-content wow fadeInUp" data-wow-delay=".3s" id="nav-tabContent">
<div aria-labelledby="nav-monthly-tab" class="tab-pane fade" id="nav-monthly" role="tabpanel">
<div class="row">
<div class="col-lg-4">
<div class="xc-price-one__item">
<div class="xc-price-one__banner">
<p>Most Popular</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Starter</h3> -->
<p class="xc-price-one__price">Machine<br/><span>Learning</span>
</p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> Supervised Learning</p>
<p><i class="fa-solid fa-check"></i> Time Series Analysis
                                                        </p>
<p><i class="fa-solid fa-check"></i> Anomaly Detection
                                                        </p>
<p><i class="fa-solid fa-check"></i> Generative Adversarial
                                                            Networks</p>
<p><i class="fa-solid fa-check"></i> Unsupervised Learning</p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="xc-price-one__item featured">
<div class="xc-price-one__banner">
<p>Most Popular</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Pro</h3> -->
<p class="xc-price-one__price">Digital<br/><span>Marketing</span>
</p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> Search Engine Optimization
                                                            (SEO)</p>
<p><i class="fa-solid fa-check"></i> Search Engine Marketing
                                                            (SEM)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Pay-Per-Click (PPC)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Social Media Marketing
                                                            (SMM)</p>
<p><i class="fa-solid fa-check"></i> Content Marketing</p>
<p><i class="fa-solid fa-check"></i> Email Marketing
                                                        </p>
<p><i class="fa-solid fa-check"></i> Influencer Marketing
                                                        </p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="xc-price-one__item">
<div class="xc-price-one__banner">
<p>Most Popular</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Enterprise</h3> -->
<p class="xc-price-one__price">Designing<br/><span>and UI</span>
</p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> User Experience (UX)</p>
<p><i class="fa-solid fa-check"></i> User Interface (UI)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Interaction Design (IxD)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Product Design</p>
<p><i class="fa-solid fa-check"></i> Interior Design</p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
</div>
</div>
<div aria-labelledby="nav-yearly-tab" class="tab-pane fade show active" id="nav-yearly" role="tabpanel">
<div class="row">
<div class="col-lg-4">
<div class="xc-price-one__item">
<div class="xc-price-one__banner">
<p>Most Popular</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Starter</h3> -->
<p class="xc-price-one__price">App<span>and Web
                                                                Development</span></p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> iOS Development</p>
<p><i class="fa-solid fa-check"></i> Android Development
                                                        </p>
<p><i class="fa-solid fa-check"></i> Game Development
                                                        </p>
<p><i class="fa-solid fa-check"></i> Full-Stack Development</p>
<p><i class="fa-solid fa-check"></i> E-commerce Development</p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="xc-price-one__item featured">
<div class="xc-price-one__banner">
<p>Elitechain's Special</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Artificial Intelligence</h3> -->
<p class="xc-price-one__price">AI<span>Development <br/> and
                                                                Automation</span>
</p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> Generative AI</p>
<p><i class="fa-solid fa-check"></i> Deep Learning
                                                        </p>
<p><i class="fa-solid fa-check"></i> Natural Language Processing
                                                            (NLP)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Explainable AI</p>
<p><i class="fa-solid fa-check"></i> Reinforcement Learning</p>
<p><i class="fa-solid fa-check"></i> Chatbots Development</p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="xc-price-one__item">
<div class="xc-price-one__banner">
<p>Most Popular</p>
</div>
<div class="xc-price-one__head">
<!-- <h3 class="xc-price-one__package">Enterprise</h3> -->
<p class="xc-price-one__price">Web3 <span> and Blockchain
                                                                Development</span></p>
</div>
<div class="xc-price-one__list">
<p><i class="fa-solid fa-check"></i> Smart Contract Development
                                                        </p>
<p><i class="fa-solid fa-check"></i> Decentralized Finance
                                                            (DeFi)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Non-Fungible Tokens (NFTs)
                                                        </p>
<p><i class="fa-solid fa-check"></i> Decentralized Identity
                                                            (DID)</p>
<p><i class="fa-solid fa-check"></i> Supply Chain and
                                                            Traceability</p>
</div>
<div class="xc-price-one__btn">
<a href="/contact/">Let's Discuss</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- price area end -->
<!-- feature three  -->
<div class="xc-feature-three__section pt-120 pb-90">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-60 wow xcfadeUp">
<span class="xc-section__subtitle style-2">Why people choose us</span>
<h3 class="xc-section__title wow">Over 6,600+ satisfied customers !</h3>
<p class="mb-20">With over 1 million agencies out there, here's what sets us apart and keeps
                                clients winning
                            </p>
</div>
<div class="xc-feature-three_wrapper">
<div class="row">
<div class="col-lg-6">
<div class="xc-feature-three__item wow xcfadeUp" data-wow-delay="100ms">
<div class="xc-feature-three__icon color-1">
<span><i class="fa-duotone fa-crown"></i></span>
</div>
<div class="xc-feature-three__content">
<h3 class="xc-feature-three__title">We Own Every Corner of the Market from
                                                2022</h3>
<p>From AI and Mobile App Development to Marketing and Design.Our
                                                comprehensive team of
                                                experts tackles it all.</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="xc-feature-three__item wow xcfadeUp" data-wow-delay="200ms">
<div class="xc-feature-three__icon color-2">
<span><i class="fa-sharp fa-solid fa-comments"></i></span>
</div>
<div class="xc-feature-three__content">
<h3 class="xc-feature-three__title">Our Multilingual Agents Deliver a Proven
                                                Win-Win</h3>
<p>Communication made easy! Our 8+ language agents understand your needs and
                                                ensure a smooth
                                                conversation experience.</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="xc-feature-three__item wow xcfadeUp" data-wow-delay="300ms">
<div class="xc-feature-three__icon color-2">
<span><i class="fa-duotone fa-phone"></i></span>
</div>
<div class="xc-feature-three__content">
<h3 class="xc-feature-three__title">Free Consultation, Real Results for Free
                                            </h3>
<p>Get a free 45-minute consultation for your business idea.No $250 charge -
                                                we're your allies, offering this service for free.</p>
</div>
</div>
</div>
<div class="col-lg-6">
<div class="xc-feature-three__item wow xcfadeUp" data-wow-delay="400ms">
<div class="xc-feature-three__icon color-4">
<span><i class="fa-duotone fa-video"></i></span>
</div>
<div class="xc-feature-three__content">
<h3 class="xc-feature-three__title">Two meetings a week,every update on Time
                                            </h3>
<p>We prioritize our clients by two weekly meetings to showcase our
                                                progress, gather
                                                feedback, and ensure it
                                                with their vision.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- feature three  -->
<!-- free consultation elements -->
<section class="xc-service-one__section" style="margin-top: 60px;">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-120 wow xcfadeUp">
<span class="xc-section__subtitle style-2">Free Consultation by Elitechain LLC</span>
<h3 class="xc-section__title wow">Experience the value of a<br/>
<span>complimentary consultation today.</span>
</h3>
<div class="container" style="margin-top: 70px;margin-bottom:10px;">
<div class="xc-header-banner__btns" style="margin-top: 10px;margin-bottom:10px;">
<a href="https://app.simplymeet.me/elitechainllc" target="_blank" class="glow-on-hover xc-black-btn wow xcfadeLeft">Schedule your free consultation
                                        now.</a>
</div>
</div>
</div>
</div>
<!-- end free consultation elements  -->
<!-- faq one start  -->
<section class="xc-faq-two__section pb-90">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-60">
<span class="xc-section__subtitle style-2">FAQs</span>
<h3 class="xc-section__title wow">Frequently Asked Questions</h3>
</div>
<div class="row">
<div class="xc-accrodion-grp" data-grp-name="faq-two-xc-accrodion">
<div class="xc-accrodion active wow fadeInUp" data-wow-delay="100ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-lightbulb"></i></span>
<h4>What is Elitechain LLC?</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>Elitechain LLC is an award-winning digital solutions agency. We help
                                                    businesses achieve
                                                    their goals through innovative
                                                    digital strategies and cutting-edge technologies.
                                                </p>
</div>
</div>
</div>
<div class="xc-accrodion wow fadeInUp" data-wow-delay="200ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-file-lines"></i></span>
<h4>What are your rates?</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>Our rates vary depending on the scope of the project. We offer free
                                                    consultations to
                                                    discuss your project and provide
                                                    you with a custom quote.</p>
</div>
<!-- /.inner -->
</div>
</div>
<div class="xc-accrodion wow fadeInUp" data-wow-delay="300ms">
<div class="xc-accrodion-title">
<span class="xc-icon"><i class="fa-regular fa-pen-to-square"></i></span>
<h4>Do you have any case studies that I can review?</h4>
</div>
<div class="xc-accrodion-content">
<div class="inner">
<p>Yes, we do have case studies that showcase our work with past
                                                    clients,view them by
                                                    clicking here.
                                                </p>
</div>
<!-- /.inner -->
</div>
</div>
</div>
</div>
</div>
</section>
<!-- faq one end  -->
<!-- xc-postbox area start -->
<section class="xc-postbox__area pb-60">
<div class="container">
<div class="xc-section__title-wrapper text-center mb-55 wow xcfadeUp">
<span class="xc-section__subtitle">Our Blog</span>
<h3 class="xc-section__title wow"> Latest <span>Research &amp; News</span><br/>
</h3>
</div>
<div class="xc-postbox__wrapper mb-30">
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="xc-postbox__item xc-grid mb-30">
<div class="xc-postbox__thumb w-img mb-20 p-relative">
<a href="blog-single.html">
<img alt="" src="{% static 'assets/img/blog/blog-6.jpg' %}"/>
</a>
<div class="xc-postbox__cat">
<a href="#">Research</a>
</div>
</div>
<div class="xc-postbox__content">
<div class="xc-postbox__meta">
<span>
<a href="#"><i class="fa-light fa-user"></i>Xaito</a>
</span>
<span><a href="#"><i class="fa-light fa-calendar"></i>January 22,
                                                            2023</a></span>
</div>
<h3 class="xc-postbox__title">
<a href="blog-single.html">Mas.ai is Now SOC 2
                                                        Type II Compliant</a>
</h3>
<div class="xc-postbox__read-more">
<a class="xc-more-btn" href="blog-single.html">Read More <i class="fa-light fa-arrow-right-long"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="xc-postbox__item xc-grid mb-30">
<div class="xc-postbox__thumb w-img mb-20 p-relative">
<a href="blog-single.html">
<img alt="" src="{% static 'assets/img/blog/blog-2.jpg' %}"/>
</a>
<div class="xc-postbox__cat">
<a href="#">Blog</a>
</div>
</div>
<div class="xc-postbox__content">
<div class="xc-postbox__meta">
<span>
<a href="#"><i class="fa-light fa-user"></i>Xaito</a>
</span>
<span><a href="#"><i class="fa-light fa-calendar"></i>January 22,
                                                            2023</a></span>
</div>
<h3 class="xc-postbox__title">
<a href="blog-single.html">That You'll
                                                        Actually Use for translation</a>
</h3>
<div class="xc-postbox__read-more">
<a class="xc-more-btn" href="blog-single.html">Read More <i class="fa-light fa-arrow-right-long"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="xc-postbox__item xc-grid mb-30">
<div class="xc-postbox__thumb w-img mb-20 p-relative">
<a href="blog-single.html">
<img alt="" src="{% static 'assets/img/blog/blog-4.jpg' %}"/>
</a>
<div class="xc-postbox__cat">
<a href="#">Writing</a>
</div>
</div>
<div class="xc-postbox__content">
<div class="xc-postbox__meta">
<span>
<a href="#"><i class="fa-light fa-user"></i>Xaito</a>
</span>
<span><a href="#"><i class="fa-light fa-calendar"></i>January 22,
                                                            2023</a></span>
</div>
<h3 class="xc-postbox__title">
<a href="blog-single.html">How To Create Powerful Competitor</a>
</h3>
<div class="xc-postbox__read-more">
<a class="xc-more-btn" href="blog-single.html">Read More<i class="fa-light fa-arrow-right-long"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- xc-postbox area end -->
{% endblock body %}

