@use '../utils' as *;
/*--------------------------------------------------------------
# Tab
------------------- -------------------------------------------*/
.xc-tab{
    & .nav-tabs{
        padding: 0;
        margin: 0;
        border: 0;

        & .nav-link{
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}